{% extends "layout.njk" %}

{% block title %}
  <title>Sobre
    {{about.name}}</title>
{% endblock title %}

{% block styles %}
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon"/>
{% endblock styles %}

{% block content %}
  <div class="content">
    <img src="{{about.avatar_url}}" alt="Imagemm de {{about.name}}"/>
    <h1>{{about.name}}</h1>
    <h3>{{about.role}}</h3>
    <p>
      {{about.description}}
    </p>

    <h2>Principais Técnologias</h2>
    <ul>
      {% for technology in about.technologies %}
        <li>{{technology}}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}

{% block links %}
  {% for link in about.links %}
    <a href="{{link.url}}" target="_blank">
      {{link.name}}
      |
    </a>
  {% endfor %}
{% endblock links %}