{% extends "layout.njk" %}

{% block title %}
  <title>Cursos</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="styles/courses.css"/>
{% endblock styles %}

{% block content %}
  <section class="cards">
    {% for item in items %}
      <div id="{{item.id}}" class="card">
        <div class="card_image-container">
          <img src="{{item.image}}" alt="Imagem do curso {{item.title}}"/>
        </div>
        <div class="card_content">
          <p>
            {{item.description}}
          </p>
        </div>
        <div class="card_info">
          <p>{{item.modules}}</p>
          <p class="card_price">
            {{item.price}}
          </p>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock content %}

{% block scripts %}
  <script src="/scripts/script.js"></script>
{% endblock scripts %}