{% extends "layout.html" %}

{% block styles %} 
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon"/>
{% endblock styles %}

{% block content %}
  <div class="content">
    <img src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt="Rocketseat"/>
    <h1>Rocketseat</h1>
    <h3>Plataforma de educação em tecnologia</h3>
    <p>
      As melhores tecnologias em programação, direto ao ponto e do jeito certo
    </p>

    <h2>Principais Técnologias</h2>
    <ul>
      <li>Javascript</li>
      <li>Node.js</li>
      <li>React Native</li>
    </ul>
  </div>
{% endblock content %}