<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        {% block title %}
            <title>Rocketseat</title>
        {% endblock title %}

        <link rel="stylesheet" href="/styles/main.css"/>

        {% block styles %}{% endblock styles %}
    </head>
    <body>
        <header>
            <div class="links">
                <a id="comunity" href="https://discordapp.com/invite/gCRAFhc">
                    Comunidade
                </a>

                <a id="email" href="mailto:oi@rocketseat.com.br">
                    Email
                </a>

                <a id="phone" href="tel:+5547992078767">
                    Telefone
                </a>

                <a id="about-page" href="/about">
                    Sobre
                </a>

                <a id="courses-page" href="/">
                    Conteúdo
                </a>
            </div>
        </header>

        {% block content %}{% endblock %}

        {% block modal %}{% endblock modal %}

        <footer class="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github |</a>
            <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">
                Instagram |
            </a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">
                Facebook
            </a>
        </footer>

        {% block scripts %}{% endblock scripts %}
    </body>
</html>